.wrapper{
    display: flex;
    justify-content: space-between;
}
.card{
    background-color: #d4f7d4;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 30px;
    width: 24%;
    border-radius: 10px;
}
.card2{
    background-color: #ddf1ff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 30px;
    width: 24%;
    border-radius: 10px;
}
.card3{
    background-color: #fff2ce;
    color: #ffe6a2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 30px;
    width: 24%;
    border-radius: 10px;
}
.card4{
    background-color: #ffdad8;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 30px;
    width: 24%;
    border-radius: 10px;
}
.number1{
    font-size: 1.3rem;
    font-weight: bold;
    color: #004b50;
}
.number2{
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(30, 30, 85);
}
.number3{
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(156, 104, 7);
}
.number4{
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(105, 39, 39);
}
.text1{
    font-size: 0.7rem;
    font-weight: 500;
    color: #004b50;
}
.text2{
    font-size: 0.7rem;
    font-weight: 500;
    color: rgb(30, 30, 85);
}
.text3{
    font-size: 0.7rem;
    font-weight: 500;
    color: rgb(156, 104, 7);
}
.text4{
    font-size: 0.7rem;
    font-weight: 500;
    color: rgb(105, 39, 39);
}