.wrapper{
    padding: 6px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.wrapper:hover{
    background-color: #D0F0C0;
}
.active{
    color: green;
    background-color: #D0F0C0;
}
.title{
    color: #8B8B8B;
    font-size: 13px;
}
.titleactive{
    color: #00A86B;
    font-weight: 600;
    font-size: 13px;
}
.icon{
    font-size: 18px;
    margin-top: 5px;
}
.wrapper > span:last-child{
    margin-left: auto;
}